ion-card {
  ion-card-header {
    &.border-bottom {
      border-bottom: 1px dashed #0000001a;
    }
    padding: 15px;
    ion-card-subtitle {
      margin-bottom: 0px;
      font-size: 15px;
      text-transform: capitalize;
    }
    ion-icon {
      position: absolute;
      font-size: 22px;
      right: 15px;
      top: 15px;
    }
  }
  ion-card-content {
    padding: 15px;
  }
}
.occupation {
  .item {
    padding: 15px 0px;
    position: relative;

    .content {
      margin-left: 40px;
      .title {
        line-height: 1;
        font-size: 16px;
        color: #1e1f22;
        font-weight: 700;
        &.checked {
          color: var(--ion-color-primary);
        }
      }
      .subtitle {
        line-height: 1;
        font-size: 14px;
        color: #716666;
        margin-top: 10px;
      }
    }
    ion-checkbox {
      position: absolute;
      top: 15px;
      left: 0px;
      --border-color: #000000;
      --background-checked: #ffffff;
      --checkmark-color: var(--ion-color-primary);
    }
  }
}
.project-details {
  ion-input {
    border: 0px;
    background: transparent;
    &.has-focus {
      border: 0px;
      box-shadow: none;
    }
  }
  ion-textarea {
    font-size: 14px;
  }
}
